# Dependencies
node_modules/
bun.lockb

# Environment variables
.env
.env.*
!.env.example

# Build output
dist/
build/
out/

# TypeScript
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
bun-debug.log*

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor / IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Bun
.bun/
